.about {
  &__text {
    color: $mine-shaft;
    font-weight: 500;
    margin: 20px 0;
    line-height: 1.8;
    font-size: 18px;

    @media #{$tablet-screen-sm-max} {
      font-size: 16px;
    }
  }

  &__content {
    display: flex;

    @media #{$desktop-screen-xs-max} {
      flex-direction: column;
    }
  }

  &__text-container {
    @media #{$desktop-screen-xs-min} {
      width: 50%;
    }
  }

  &__feature-list {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
  }

  &__feature-item {
    display: flex;
    width: 45%;
    margin: 10px 0 10px auto;
    max-width: 300px;

    @media #{$desktop-screen-xs-max} {
      margin: 10px 20px;
    }

    @media #{$mobile-screen-lg-max} {
      width: 300px;
    }
  }
}