button {
  border: none;
  outline: none;

  &:focus,
  &:active {
    border: none;
    outline: none;
  }
}

.btn {
  border-radius: 20px;
  padding: 10px 20px;
  transition: $base-animation-duration;
  text-decoration: none;
  cursor: pointer;
  display: inline-flex;
  
  &:focus {
    border: none;
    outline: none;
  }

  &_sm {
    padding: 8px;
  }

  &:not(.btn_sm) {
    @media #{$desktop-screen-xs-max} {
      padding: 10px 16px;
    }

    @media #{$tablet-screen-md-max} {
      padding: 10px 12px;
    }

    @media #{$tablet-screen-sm-max} {
      padding: 10px;
    }
  }

  &__default {
    background-color: transparent;
    color: $gray;

    &:hover {
      background-color: $cinnabar;
      color: #fff;
    }

    &:active {
      background-color: darken($cinnabar, 10%);
      color: darken(#fff, 10%);
    }
  }

  &__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:hover {
      filter: brightness(90%);
    }

    &:active {
      filter: brightness(85%);
    }
  }

  &_gray {
    background-color: $mercury;
    color: $silver;
    font-weight: 600;
    font-size: 14px;

    &:hover {
      background-color: darken($mercury, 10%);
      color: darken($silver, 10%);
    }

    &:active {
      background-color: darken($mercury, 15%);
      color: darken($silver, 15%);
    }
  }

  &_vertical-center {
    margin-top: auto;
    margin-bottom: auto;
  }
}