@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700&subset=latin,cyrillic');

html {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

.text__info {
  font-size: 24px;
  font-weight: 400;
  color: $mine-shaft;

  @media #{$tablet-screen-sm-max} {
    font-size: 18px;
  }

  @media #{$mobile-screen-md-max} {
    font-size: 16px;
  }
}

.text_bold {
  font-weight: 700;
}

.text_semi-bold {
  font-weight: 600;
}

.text_black {
  color: $cod-gray;
}

.text_gray {
  color: $gray;
}

.text_red {
  color: $cinnabar;
}