.alphabet {
  margin-top: 20px;
  margin-bottom: 30px;

  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @media #{$desktop-screen-sm-max} {
      justify-content: center;
    }
  }

  &__item {
    margin: 0 1px;
  }

  &__link {
    border-radius: 50%;
    transition: $base-animation-duration;
    font-size: 30px;
    font-weight: 700;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    color: $cod-gray;
    flex-shrink: 0;

    &:hover:not(.alphabet__link_star) {
      background-color: #000;
      color: #fff;
    }

    &_star {
      background-color: $cinnabar;
    }
  }
}
