.footer {
  @media #{$tablet-screen-sm-max} {
    text-align: center;
  }

  &__nav {
    background-color: $cod-gray;
    padding: 20px 0;
  }

  &__nav-list {
    @media #{$tablet-screen-sm-min} {
      display: flex;
      justify-content: space-between;
    }

    @media #{$tablet-screen-sm-max} {
      column-count: 2;
    }
  }

  &__creator-text {
    @media #{$tablet-screen-sm-max} {
      margin-bottom: 20px;
    }
  }

  &__owner {
    background-color: #000;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    color: $mine-shaft;
  }
}
