.headline {
  &_center {
    text-align: center;
  }

  &__main {
    font-weight: 600;
    font-size: 48px;

    @media #{$tablet-screen-sm-max} {
      font-size: 40px;
    }

    @media #{$mobile-screen-md-max} {
      font-size: 32px;
    }
  }
}