.nav {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;

  @media #{$tablet-screen-md-max} {
    margin-right: 10px;
  }

  &__list {
    display: flex;
  }

  &__link {
    @media #{$desktop-screen-xs-max} {
      padding: 10px;
    }
  }

  &__text {
    font-size: 18px;
    font-weight: 700;

    @media #{$desktop-screen-xs-max} {
      font-size: 16px;
      font-weight: 700;
    }

    @media #{$tablet-screen-md-max} {
      font-size: 15px;
      font-weight: 600;
    }

    @media #{$tablet-screen-sm-max} {
      font-size: 14px;
      font-weight: 600;
    }
  }

  &__list-item {
    margin-left: auto;

    @media #{$desktop-screen-xs-max} {
      margin-left: 8px;
    }

    @media #{$tablet-screen-md-max} {
      margin-left: 5px;
    }
  }
}

.nav {
  @media #{$mobile-screen-lg-max} {
    position: absolute;
    transition: $base-animation-duration;
    flex-direction: column;
    left: 0;
    top: 100%;
    z-index: 10;
    width: 100%;
    border-top: 2px solid $cod-gray;
    background-color: $silver;
    transform:
      translate(100%, -50%)
      scale(0);

    &_open {
      transform:
        translate(0)
        scale(1);
    }

    &__language {
      justify-content: center;
    }

    &__list {
      width: 100%;
      align-items: center;
      flex-direction: column;
    }

    &__list-item {
      width: 100%;
      margin-left: 0;
    }
    
    &__link {
      width: 100%;
      justify-content: center;
      border-radius: 0;
    }

    &__nav {
      width: 100%;
    }
  }
}